@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background:white;
overflow-x: hidden;
}
.image-box{
    border-radius: 50%;
}
.font-medium{
    color: black;
   font-weight: 600;
}

.profilebtn > button{
background-color: #0d64cc;
}
.footer-bg{
    background-image: url("/../footer-bg.png");
    background-repeat: no-repeat;

    background-position: bottom ;
}

.ant-btn {
    background: black;
}
.jobimage{
    border-radius: 50%;
}
.login-form {
    max-width: 80%;
}
ul.hidden > a > button {
    color: white!important;
    }

.menu-button {
    display: none;
    /* Hide the menu button by default on all screens */
}

@media only screen and (max-width: 768px) {
    .menu-button {
        display: block;
        /* Show the menu button on smaller screens */
    }

    .drawer {
        display: block;
        /* Show the drawer on smaller screens */
    }
    .navbar{
        padding-left: 10px;
  padding-right: 10px;

    }
    .jobcontainer{
        width: 100%!important;
    }
    .footer{
        padding-left: 42px;
        
    }
    .footercol{
        width: 355px!important;
       
    }

}

@media only screen and (min-width: 769px) {
    .menu-button {
        display: none;
        /* Hide the menu button on larger screens */
    }

    .drawer {
        display: none;
        /* Hide the drawer on larger screens */
    }
   
  
}