@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background:white;
overflow-x: hidden;
}
.image-box{
    border-radius: 50%;
}
.font-medium{
    color: black;
   font-weight: 600;
}

.profilebtn > button{
background-color: #0d64cc;
}
.footer-bg{
    background-image: url("/../footer-bg.png");
    background-repeat: no-repeat;

    background-position: bottom ;
}

.ant-btn {
    background: black;
}
.jobimage{
    border-radius: 50%;
}
.login-form {
    max-width: 80%;
}
ul.hidden > a > button {
    color: white!important;
    }

.menu-button {
    display: none;
    /* Hide the menu button by default on all screens */
}

@media only screen and (max-width: 768px) {
    .menu-button {
        display: block;
        /* Show the menu button on smaller screens */
    }

    .drawer {
        display: block;
        /* Show the drawer on smaller screens */
    }
    .navbar{
        padding-left: 10px;
  padding-right: 10px;

    }
    .jobcontainer{
        width: 100%!important;
    }
    .footer{
        padding-left: 42px;
        
    }
    .footercol{
        width: 355px!important;
       
    }
 

}
.about-title h2 {
    font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
}

.text-card{
    background-image: url("/../intro-bg.jpg");
    background-size: cover;
  background-position: center center;
  border-radius: 16px;
  padding: 64px 56px;
  font-size: 20px;



}

.titlecard h2 {
    font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
}
.text-card .text-card-inner h2 {

    font-weight: 600;
    font-size: 36px;
    line-height: 122%;
    letter-spacing: -0.02em; 
}

.text-card .text-card-inner p {
    font-size: 20px;
    line-height: 1.5em;
  }
.text-card .text-card-inner {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #D3D3D3;
    min-height: 100%;
  }
.media.rounded-corners {
    overflow: hidden;
    border-radius: 8px;
  }

  .icon-list li {

        list-style: disclosure-closed;
      
    padding: 8px;
  }
  .about-sectioncontain{
    padding: 64px 56px;

  }

@media only screen and (min-width: 769px) {
    .menu-button {
        display: none;
        /* Hide the menu button on larger screens */
    }

    .drawer {
        display: none;
        /* Hide the drawer on larger screens */
    }
   
  
}
@media only screen and (max-width: 650px) {
    .imagebox{
        padding-left: 300px!important;
        padding-bottom: 162px!important;
      
    }
    .bannerimage {
        height: 184px;
    }
    .detailstitle{
        padding-left: 14px;
    }
}